# VSCode
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# macOS system files
*.swp
*.swo

# Apple Silicon (ARM64) specific files (may not be required but can be included)
*.dSYM/
*.plist
